

body {
	background: #85DDC7;
	text-align: center;
}

div.theMenu {
	background: #FFFFFF;
	width: 1000px;
	height: 500px;
	right: 1px;
	z-index: 10;
	top: 50px;
	position: fixed;
}

h1 {
	text-transform: uppercase;
	text-align: 	center;
	text-indent: 	70px;
	color: 			#85DDC7;
}

h5 {
	text-transform: uppercase;
	text-align: left;
	text-indent: 50px;
	color: white;
}

p {
	text-transform: uppercase;
	text-align: center;
	text-indent: 100px;
	color: white;
}

canvas {
	background: #85DDC7;
	margin: 0 auto;
	border: 6px solid white;
}










